.result{
  text-align:center;
  margin-top: 6%;
}

.country-result:hover{
  background-color:rgba(49, 49, 49, 0.925);
  color:#fff;
  cursor: pointer;
}

.colorBold{
  color: red;
}

.loading {
  width: 100px;
  display:none;
  margin-top:16%;
}


.fijar{
  position:fixed;
  top: 1px;
  margin-top:0px
}